body{
    background-color: aliceblue;
}
.container{
   height: 400px;
   width: 400px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgb(35, 151, 247);
   box-shadow: 0 0 6px 2px #6e6d6d;
   border-radius: 4px;
}
.container h2{
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-left: 25px;
    position: absolute;
    z-index: -1;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(240, 248, 255, 0.377);
    font-size: 12rem;
    font-weight: 600;
}
.container p{
    position: absolute;
    top: 15%;
    width: 90%;
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(240, 248, 255, 0.959);
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 200;
}
.container p span{
    background-color: rgb(3, 48, 85);
    width: 80%;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 90%;
    padding: 0;
    margin: 5%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(240, 248, 255, 0.959);
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 200;
}